@{
    //Layout = null;
    ViewBag.Title = "Список компаний";
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список компаний</title>
</head>
<body>
<div>
    <h3>Список компаний</h3>
    <table border="1">
        <tr><td><p>Название</p></td>
            <td><p>E-mail</p></td>
            <td><p>Телефон</p></td>
            <td><p>Сайт</p></td>
        </tr>
        @foreach (var b in ViewBag.Companies)
        {
            <tr>
                <td><p>@b.name</p></td>
                <td><p>@b.email</p></td>
                <td><p>@b.phone</p></td>
                <td><p>@b.site</p></td>
            </tr>
        }
    </table>
</div>
</body>
</html>